@import './base.css';
.btn {
  padding: 0.25em 0.5em;
  width: auto;
  height: 40px;
  border-radius: 13px;
  border: none;
  font-size: 14px;
  letter-spacing: 2px;
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  background: white;
  color: #e99e3d;
  cursor: pointer;
  border: 1px solid #e99e3d;
  padding: 0.25em 0.75em;
  box-shadow:
    1px 1px 0px 0px,
    1px 1px 0px 0px,
    1px 1px 0px 0px,
    1px 1px 0px 0px,
    2px 2px 0px 0px #e99e3d;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition:
    top ease 0.5s,
    left ease 0.5s;
}
.btn:hover {
  background: #e99e3d;
  color: white;
  box-shadow:
    1px 1px 0px 0px,
    1px 1px 0px 0px,
    1px 1px 0px 0px,
    1px 1px 0px 0px,
    2px 2px 0px 0px #e99e3d;
}
.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 2px;
  left: 2px;
}
.btn span {
  color: inherit;
}
a,
.a {
  font-weight: 600;
  color: #e99e3d;
}
a:hover,
.a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.menu-icon {
  font-size: 32px;
  display: none;
  cursor: pointer;
}
.logo {
  width: 40px;
  height: 40px;
}
.form-btn {
  width: 24px;
  height: 24px;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  border: none;
  color: #e99e3d;
  background: none;
  outline: none;
  margin: 0;
  margin-left: -1.2em;
}
.form-btn > span {
  color: #e99e3d;
}

.close {
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 0;
  font-weight: 800;
  cursor: pointer;
  color: #e99e3d;
}
.close:hover,
.close:active {
  color: red;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #f5cf9d;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 40px;
}
h1 {
  /* font-family: "Space Grotesk"; */
  font-weight: 600;
  font-size: 20px;
  margin: auto;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .header {
    height: 50px;
  }

  .menu-icon {
    display: block;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
}
